 
        
body 
      {background-color: rgb(77, 75, 75);}
header {
    padding: 32px;
    border-bottom: 1px solid var(--subcor);
    background-color: rgba(rgb(252, 252, 252), rgb(255, 255, 255), rgb(255, 255, 255), alpha);
       }
       header div {
        text-align: center; /* Alinhamento no meio do header */
       }
       header div a {
          color: rgb(253, 206, 206); /* a cor do texto */
          font-size: 20px; /* tamanho da fonte */
          line-height: 30px; /* eapaçamento da linha do texto */
          margin: 0 16px; /* espaçamento entre os textos */
          text-decoration: none; /*retirar decoração do texto */
          font-family: "Roboto", sans-serif; /* a fonte escolhida pro menu */
       }
       header div a:hover { /* seleção do modo quando o mouse passar por cima "hover"*/
           color: rgb(255, 220, 103); /* mudar para cor amarela*/
           transition: color 700ms; /* e fazer uma transição de cor que dura 700ms*/
       } #box {
        text-align: center; /* Aliamento no meio do body */
        padding: 32px; /* distancia dos outros elementos */
       }
       #box img {
        border-radius: 50%; /* adiciona uma borda redonda a imagem/ */
        border: 5px solid rgb(255, 232, 104); /* adiciona uma cor a borda da imagem*/
        margin-bottom: 32px; /* distancia da margem inferior dos outros elementos*/
       }
           #box h1 {
            font-size: 42px; /* tamanho da fonte */
            line-height: 52px; /* espaçamento da linha do texto */
            font-weight: bold; /* tipo fa fonte */
           }
           #box h2 {
           font-size: 24px; /* tamanho da fonte */
           line-height: 34px; /* espaçamento da limha do texto */
           font-weight: normal;  /* tipo da fonte */
           margin-top: 8px; /* distancia da margem superior dos outros elementos*/
           opacity: 0.8; /* transparencia do elemento*/
                                             
           }
           #box p {
            max-width: 500px; /* tamanho maximo do elemento na largula */
            margin: 32px auto; /*distancia das margens dos outros elementos*/
            font-size: 24px; /* tamanho da fonte */
            line-height: 34px; /* espaçamento da linha do texto */
           }
           :root{  /* iniciando a variavel*/
            --subcor: #57a615; /* nomeando a variavel de --subcor e guardando uma cor nela.*/
           } /* Fechamento a o bloco da variavel root.*/
           .Links {
            text-align: center;
           }
         .Links a {
            color: gold;
            font-size: 20px;
            line-height: 30px;
            margin: 0 16px;
            text-decoration: none;
          }
          .Links a:hover {
            color: var(--subcor);
            transition: 600ms;
            font-size: 23px;
          }
          #box h1  {
            padding: 4px;
          }

          #box h2  {
            padding: 10px;}
          
            #box p:hover {
                font-size: 23px;
            }

            #box a {
                color: var(--subcor);
                transition: 600ms;
            }
            #linksFooter {
                padding-top: 32px;
                text-align: center;
            }

            #linksFooter a {
              padding-top: 32px;
              padding-bottom: 8px;
              border-bottom:3px solid var(--subcor);
            }